.a {
    margin: 1rem;
}

.container {
    background-color: greenyellow;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    height: 60%;
    display: flex;
    justify-content: flex-start;
  }
  
.header {
    background-color: royalblue;
    margin: 1px;
    width: 30%;
    height: 40%;
  }

  .container2 {
    background-color: greenyellow;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    height: 50%;
    display: flex;
    justify-content: center;
  }
  
.header2 {
    background-color: royalblue;
    margin: 1px;
    width: 40%;
    height: 40%;
  }

.container3 {
    background-color: greenyellow;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    height: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
  
.header3 {
    background-color: royalblue;
    margin: 1px;
    width: 30%;
    height: 40%;
  }
